{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    课程章节
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/course/chapter.css' %}">
{% endblock %}

{% block html_body %}
<div class="container-fluid  cha-inner-warp">
    <div class="container-fluid cha-header">
        <div class="container">
            <ol class="breadcrumb cha-nav">

            </ol>
            <h3>{{ chapter.0.name }}</h3>
            <p>{{ chapter.0.synopsis }}</p>
        </div>
    </div>
    <div class="container cha-inner">
        <div class="cha-inner-list">
            <span class="list-span span-active" attr="card1">视频资料</span>
            <span class="list-span" attr="card2">本章教程</span>
            <span class="list-span" attr="card3">课程小结</span>
            <span class="list-span" attr="card4">本章任务</span>
            <span class="list-span" attr="card5">QA问答</span>
        </div>
        <div class="cha-inner-list">
            <div class="card card1 card-show">
                <p class="det-name">
                    视频资料
                </p>
                <ul class="list-group cha-entry">
                    {% for foo in video %}
                         <li class="list-group-item">
                        <span class="iconfont">&#xe809;</span>&nbsp;&nbsp;<a href="#">{{ foo.name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="card card2">
                <p class="det-name">
                    本章教程
                </p>
                <ul class="list-group cha-entry">
                    {% for bl in blog %}
                        <li class="list-group-item">
                        <span class="iconfont">&#xe809;</span>&nbsp;&nbsp;<a  href="#">{{ bl.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card card3">
                <p class="det-name">
                    本章小结
                </p>
                <img src="{{ MEDIA_URL }}{{ chapter.knowledge }}" alt="">
            </div>
            <div class="card card4 ">
                <p>本章任务</p>
                <ul class="list-group">
                    <li class="list-group-item chapter_task"><span>这是一大串的测试数据，仅供测试</span></li>
                    <li class="list-group-item chapter_task"><span>这是一大串的测试数据，仅供测试</span></li>
                    <li class="list-group-item chapter_task"><span>这是一大串的测试数据，仅供测试</span></li>
                    <li class="list-group-item chapter_task"><span>这是一大串的测试数据，仅供测试</span></li>
                </ul>
            </div>
            <div class="card card5">
                <p class="det-name">
                    看看大家有什么问题
                </p>
                <ul class="list-group cha-entry">
                    {% for questions in qa %}
                        <li class="list-group-item"><span class="def-user">Q：</span>&nbsp;&nbsp;<span>{{ questions.question }}</span></li>
                        <li class="list-group-item"><span class="def-user">A：</span>&nbsp;&nbsp;<span>{{ questions.answer }}</span></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>


</div>
{% endblock %}

{% block small_js %}
<script>
    $(function () {
        $('.list-span').on('click', function () {
            var div = $(this).attr('attr');
            $('.card-show').removeClass('card-show');
            $('.' + div).addClass('card-show');
        })
    })
</script>
{% endblock %}

