{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    课程章节
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/course/chapterList.css' %}">
{% endblock %}


{% block html_body %}
<div class="container-fluid  cha-inner-warp">
    <div class="container-fluid cha-header">
        <div class="container">
            <ol class="breadcrumb cha-nav">
                <li><a href="#">课程</a></li>
                <li><a href="#">前端开发</a></li>
                <li class="active">HTML/CSS</li>
            </ol>
            <h1>初始HTML+CSS</h1>
            <ul>
                <li>难度&nbsp;&nbsp;<span class="cha-nav-data">入门</span></li>
                ·
                <li>时长&nbsp;&nbsp;<span class="cha-nav-data">9小时18分</span></li>
                ·
                <li>学习人数&nbsp;&nbsp;<span class="cha-nav-data">1032281</span></li>
                ·
                <li>综合评分&nbsp;&nbsp;<span class="cha-nav-data">9.5</span></li>
            </ul>
        </div>
    </div>
    <div class="container cha-inner">
        <div class="cha-inner-list">
            简介：本课程，将带领大家了解一下定位的知识，教大家如何通过定位来进行布局。
        </div>
        <div class="cha-inner-list">
            <p class="cha-name">
                章节展示
                <span class="glyphicon glyphicon-plus add-list"></span>
            </p>
            <ul class="list-group cha-list-color list_border">
                <li class="list-group-item">
                    <p><a href="chapterList.html">第1章 课程介绍</a><span class="studied">已完成</span></p>
                    <p>这里是课程简介简介这里是课程简介简介这里是课程简介简介这里是课程简介简介这里是课程简介简介这里是课程简介简介</p>
                </li>
                <li class="list-group-item"><a href="chapterList.html">第2章 课程介绍</a><span class="studied">已完成</span></li>
                <li class="list-group-item"><a href="chapterList.html">第3章 课程介绍</a></li>
                <li class="list-group-item"><a href="chapterList.html">第4章 课程介绍</a></li>
                <li class="list-group-item"><a href="chapterList.html">第5章 课程介绍</a></li>
            </ul>
        </div>
        <div class="cha-inner-list">
            <p class="cha-name">相关项目</p>

            <div class=" cha-scrollBar">
                <div id='cha-scrollBar-list' class=" cha-scrollBar-list">
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>
                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                    <a class=" l-sec">
                        <img class="l-sec-img" src="img/a.jpg" alt="">
                        <p class="l-title">Grid布局</p>

                        <p class="l-difficulty"><span>中级</span><span
                                class="glyphicon glyphicon-user"></span><span>12341</span></p>
                    </a>
                </div>
                <div id="l-sec-btnLeft" class="iconfont l-sec-btnLeft">&#xe659;</div>
                <div id="l-sec-btnRight" class="iconfont  l-sec-btnRight">&#xe658;</div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block small_js %}
    <script src="{% static 'jquery/chapterList.js' %}"></script>
{% endblock %}

