{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    课程章节
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/course/chapterList.css' %}">
{% endblock %}


{% block html_body %}
    <div class="container-fluid  cha-inner-warp">
        <div class="container-fluid cha-header">
            <div class="container">
                <ol class="breadcrumb cha-nav">
                    <li><a href="#">首页</a></li>
                    <li class="active">{{ course.name }}</li>
                </ol>
                <h1>{{ course.name }}</h1>
                <ul>
                    <li>难度&nbsp;&nbsp;<span class="cha-nav-data">{{ course.get_leave_display }}</span></li>
                    ·
                    <li>时长&nbsp;&nbsp;<span class="cha-nav-data">{{ course.need_time }}</span></li>
                    ·
                    <li>学习人数&nbsp;&nbsp;<span class="cha-nav-data">{{ course.study_len }}</span></li>
                    ·
                    <li>综合评分&nbsp;&nbsp;<span class="cha-nav-data">{{ course.score }}</span></li>
                </ul>
            </div>
        </div>
        <div class="container cha-inner">
            <div class="cha-inner-list">
                简介：{{ course.synopsis }}
            </div>
            <div class="cha-inner-list">
                <p class="cha-name">
                    章节展示
                    <span class="glyphicon glyphicon-plus add-list"></span>
                </p>
                <ul class="list-group cha-list-color list_border">
                    {% for chapter in chapters %}
                        <li class="list-group-item">
                            <p><a href="{% url 'chapter' chapter.id %}">{{ chapter.num }} {{ chapter.name }}</a>
                                {% if chapter.status == 1 %}
                                <span class="studied">已完成</span>
                                {% endif %}
                            </p>
                            <p>{{ chapter.synopsis }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cha-inner-list">
                <p class="cha-name">相关项目</p>

                <div class=" cha-scrollBar">
                    <div id='cha-scrollBar-list' class=" cha-scrollBar-list">
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>
                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                        <a class=" l-sec">
                            <img class="l-sec-img" src="img/a.jpg" alt="">
                            <p class="l-title">Grid布局</p>

                            <p class="l-difficulty"><span>中级</span><span
                                    class="glyphicon glyphicon-user"></span><span>12341</span></p>
                        </a>
                    </div>
                    <div id="l-sec-btnLeft" class="iconfont l-sec-btnLeft">&#xe659;</div>
                    <div id="l-sec-btnRight" class="iconfont  l-sec-btnRight">&#xe658;</div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block small_js %}
    <script src="{% static 'jquery/chapterList.js' %}"></script>
{% endblock %}

