{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    课程章节
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/course/courseList.css' %}">
{% endblock %}

{% block html_body %}
<div class="c-nav">
    <div class="container">
        <ul class="list-group c-ul">
            <li class="list-group-item c-li c-li-border">
                <div class="row">
                        <span class="c-li-bold">方向：</span>
                        <span class="c-li-hover">全部</span>
                        <span class="c-li-hover green-span c-li-hover">前端开发</span>
                        <span class="c-li-hover">后端开发</span>
                        <span class="c-li-hover">移动开发</span>
                        <span class="c-li-hover">算法&数学</span>
                        <span class="c-li-hover">前沿技术</span>
                        <span class="c-li-hover">云计算&大数据</span>
                        <span class="c-li-hover">运维&测试</span>
                        <span class="c-li-hover">数据库</span>
                        <span class="c-li-hover">UI设计&多媒体</span>
                        <span class="c-li-hover">游戏</span>
                </div>
            </li>

            <li class="list-group-item c-li c-li-border">
                <div class="row">
                    <span class="c-li-bold">分类：</span>
                    <span class="c-li-hover">全部</span>
                    <span class="c-li-hover">HTML/CSS</span>
                    <span class="c-li-hover">JavaScript</span>
                    <span class="c-li-hover">Vue.js</span>
                    <span class="c-li-hover  green-span c-li-hover">React.JS</span>
                    <span class="c-li-hover">Angular</span>
                    <span class="c-li-hover">Node.js</span>
                    <span class="c-li-hover">jQuery</span>
                    <span class="c-li-hover">Bootstrap</span>
                    <span class="c-li-hover">Sass/Less</span>
                    <span class="c-li-hover">WebApp</span>
                    <span class="c-li-hover">小程序</span>
                    <span class="c-li-hover">前端工具</span>
                    <span class="c-li-hover">CSS</span>
                    <span class="c-li-hover">Html5</span>
                    <span class="c-li-hover">CSS3</span>
                </div>
            </li>
            <li class="list-group-item c-li">
                <div class="row">
                    <span class="c-li-bold">难度：</span>
                    <span class="c-li-hover">全部</span>
                    <span class="c-li-hover green-span c-li-hover">入门</span>
                    <span class="c-li-hover">初级</span>
                    <span class="c-li-hover">中级</span>
                    <span class="c-li-hover">高级</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid context">
    <div class="container">
        <p class="l-nav"><a class="l-nav-ban">最新</a><a>最热</a></p>
        <div class="row">
        {{ data.count }}
            {% for course in data %}
                <a class="col-md-3 l-sec">
                <img src="{{ MEDIA_URL }} {{ course.cover }}  " alt="">
                <span class="l-title">{{ course.name }}</span>
                <p class="l-difficulty"><span>{{ course.leave_display }}</span><span class="glyphicon glyphicon-user"></span><span>{{ course.study_len }}</span></p>
                <p class="l-text">{{ course.synopsis }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

