<!DOCTYPE html>
<html lang="en">
<head>
    <title>课程列表页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/courseList.css" type="text/css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="c-nav">
    <div class="container">
        <ul class="list-group c-ul">
            <li class="list-group-item c-li c-li-border">
                <div class="row">
                        <span class="c-li-bold">方向：</span>
                        <span class="c-li-hover">全部</span>
                        <span class="c-li-hover green-span c-li-hover">前端开发</span>
                        <span class="c-li-hover">后端开发</span>
                        <span class="c-li-hover">移动开发</span>
                        <span class="c-li-hover">算法&数学</span>
                        <span class="c-li-hover">前沿技术</span>
                        <span class="c-li-hover">云计算&大数据</span>
                        <span class="c-li-hover">运维&测试</span>
                        <span class="c-li-hover">数据库</span>
                        <span class="c-li-hover">UI设计&多媒体</span>
                        <span class="c-li-hover">游戏</span>
                </div>
            </li>

            <li class="list-group-item c-li c-li-border">
                <div class="row">
                    <span class="c-li-bold">分类：</span>
                    <span class="c-li-hover">全部</span>
                    <span class="c-li-hover">HTML/CSS</span>
                    <span class="c-li-hover">JavaScript</span>
                    <span class="c-li-hover">Vue.js</span>
                    <span class="c-li-hover  green-span c-li-hover">React.JS</span>
                    <span class="c-li-hover">Angular</span>
                    <span class="c-li-hover">Node.js</span>
                    <span class="c-li-hover">jQuery</span>
                    <span class="c-li-hover">Bootstrap</span>
                    <span class="c-li-hover">Sass/Less</span>
                    <span class="c-li-hover">WebApp</span>
                    <span class="c-li-hover">小程序</span>
                    <span class="c-li-hover">前端工具</span>
                    <span class="c-li-hover">CSS</span>
                    <span class="c-li-hover">Html5</span>
                    <span class="c-li-hover">CSS3</span>
                </div>
            </li>
            <li class="list-group-item c-li">
                <div class="row">
                    <span class="c-li-bold">难度：</span>
                    <span class="c-li-hover">全部</span>
                    <span class="c-li-hover green-span c-li-hover">入门</span>
                    <span class="c-li-hover">初级</span>
                    <span class="c-li-hover">中级</span>
                    <span class="c-li-hover">高级</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid context">
    <div class="container">
        <p class="l-nav"><span class="l-nav-ban">最新</span><span>最热</span></p>
        <div class="row">
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <!--<section class="col-md-2 l-sec">-->
                <!--<img src="img/a.jpg" alt="">-->
                <!--<a class="l-title">Grid布局</a>-->
                <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
                <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->
            <!--<section class="col-md-2 l-sec">-->
                <!--<img src="img/a.jpg" alt="">-->
                <!--<a class="l-title">Grid布局</a>-->
                <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
                <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->


        </div>
        <div class="row">
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <!--<section class="col-md-2 l-sec">-->
            <!--<img src="img/a.jpg" alt="">-->
            <!--<a class="l-title">Grid布局</a>-->
            <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
            <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->
            <!--<section class="col-md-2 l-sec">-->
            <!--<img src="img/a.jpg" alt="">-->
            <!--<a class="l-title">Grid布局</a>-->
            <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
            <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->


        </div>


        <div class="row">
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <section class="col-md-3 l-sec">
                <img src="img/a.jpg" alt="">
                <a class="l-title">Grid布局</a>
                <p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>
                <p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>
            </section>
            <!--<section class="col-md-2 l-sec">-->
            <!--<img src="img/a.jpg" alt="">-->
            <!--<a class="l-title">Grid布局</a>-->
            <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
            <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->
            <!--<section class="col-md-2 l-sec">-->
            <!--<img src="img/a.jpg" alt="">-->
            <!--<a class="l-title">Grid布局</a>-->
            <!--<p class="l-difficulty"><span>中级</span><span class="glyphicon glyphicon-user"></span><span>12341</span></p>-->
            <!--<p class="l-text">Grid二维网格布局系统，跟随时代潮流，掌握新一代的布局方案。</p>-->
            <!--</section>-->


        </div>



    </div>
</div>


</body>
</html>