/*课程  -  章节页*/


/*章节页页面头部*/
.cha-header {
    width: 100%;
    /*background: #FFFFFF;*/
    background-image: -webkit-linear-gradient(top, #0D0E10, #353B43);
    box-shadow: 0 5px 5px #DFE1E3;
    margin-bottom: 20px;
    position: relative;
    opacity: 0.8;
    padding-bottom: 10px;
}

/*.cha-header::before{*/
/*    content:'';*/
/*    width: 100%;*/
/*    height:200px;*/
/*    background:url("../img/b.jpg") center center /cover no-repeat;*/
/*    filter: blur(10px);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*    overflow: hidden;*/
/*}*/
.cha-nav {
    background: none;
    border: 0;
    color: #777777;
    padding-left: 0;
    font-size: 12px;
    margin-top: 20px;
}

.cha-nav a {
    color: #777777;
    text-decoration: none;
}

.cha-nav a:hover {
    color: #fff;
}

.cha-header > .container > h1, .cha-header > .container > ul {
    color: #fff;
}
.container >p, .container >h3{
    color:#fff;
}
.cha-header > .container > ul {
    margin-top: 15px;
}

.cha-header > .container > ul > li {
    font-size: 12px;
    display: inline-block;
    margin: 0 10px;
}


/*主体部分*/
.cha-inner-warp {
    width: 100%;
    background: #F8FAFC;
    padding: 0 0 30px 0;
}

.cha-inner-list {
    width: 100%;
    min-height: 84px;
    line-height: 30px;
    padding: 30px 30px 20px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #DFE1E3;
    margin-bottom: 20px;
}

.cha-inner-list > span{
    display: inline-block;
    width:80px;
    height:40px;
    line-height: 40px;
    background-image: -webkit-linear-gradient(left, #ace, #3A8BFF);
    margin-right: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow:3px 1px #F1F3F4 ;
}

.span-active{
    background-image: -webkit-linear-gradient(left, #439EB8, #439EB8);
}

.cha-inner-list > span:hover{
    cursor: pointer;
}

.card{
    display: none;
}
.card p{
    height:30px;
    line-height: 30px;
    border-left: #00CC00 4px solid;
    padding-left: 10px;
    margin-bottom: 15px;
}
.card3 img{
    width:100%;
    max-width: 1090px;
}
.card-show{
        display: block;
}