/*课程  -  章节 -- 详情页*/
.det-video {
    background: #DEE1E6;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px 0;
}

#video {
    width: 100%;
    height:auto;
}

.det-list-waper {
    /*background: #5cb85c;*/
}

.list_border {
    width: 100%;
}

.det-inner-list {
    width: 100%;
    min-height: 84px;
    line-height: 30px;
    padding: 30px 30px 20px 30px;
    background: #F2F0F0;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #DFE1E3;
    transition: .35s;
    margin: 15px auto;
}

.vid-message-list {
    width: 100%;
    display: flex;
}

.vid-message-userHeader {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.vid-message-userHeader img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.vid-message-userText {
    flex: 8;
    font-size: 16px;
    box-sizing: border-box;
    white-space: revert;
    padding-top:5px;
}

.vid-message-userText span {
    margin-right: 10px;
    display: inline-block;
}

.vid-message-reply {
    flex: 1;
    height: 50px;
    min-width: 48px;
    line-height: 50px;
    text-align: center;
}

.vid-message-reply:hover ,.vid-hidden-div>p> span:hover{
    cursor: pointer;
}

.vid-hidden-div{
    width:100%;
    background: #FFFFFF;
    padding:10px;

}
.vid-hidden-input{
    width:100%;
    height:170px;
    overflow-y: auto;
    border: #D0D6D9 1px solid;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
}
.vid-hidden-div>p{
    height:30px;
    line-height: 30px;
}
.vid-hidden-div>p> span{
    float: right;
    min-width: 48px;
    text-align: center;
    padding:2px 6px;
    display: inline-block;
    box-sizing: border-box;
    border: #D0D6D9 1px solid;
    border-radius: 5px;
    margin-right: 15px;
    color:#787D82;

}
.blue-span{
    background: #79B2CD;
    border: 0;
}

/*.det-inner-list:hover{*/
/*margin-left: -10%;*/
/*width:110%;*/

/*}*/
.det-name {
    position: relative;
}

.add-list {
    position: absolute;
    top: 0;
    right: 0;
}

.cha-entry {
    border-radius: 0;
    display: none;
    transition: .35s;
}

.cha-entry li {
    border: 0;
    font-size: 14px;
}

.cha-entry li:hover {
    background: rgba(89, 249, 40, 0.2);
    cursor: pointer;
}

/*学习资料*/
.det-subject {
    width: 100%;
    box-shadow: -5px 5px 5px #DFE1E3;
    margin: 20px 0 20px 0;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 20px;
    color: #0f0f0f;
    text-decoration: none;
    perspective: 600px;

}

.det-subject:hover {
    text-decoration: none;
    color: #0f0f0f;
}

.det-subject-img {
    font-size: 40px;
    width: 40px;
    color: #337AB7;
    transition: .35s;
    display: block;
}

.det-subject:hover .det-subject-img {
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}

/*分页*/
.page_div {
    text-align: center;
}