/*课程列表页*/

/*头部---筛选栏*/
.c-nav{
    width: 100%;
    box-shadow: 0 5px 5px #DFE1E3;
    margin-bottom: 20px;
}

.c-li{
    border:0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.c-li-border{
    border-bottom: #EDF1F2 1px solid;
    margin-bottom: 0;
}
.c-li span{
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.c-li-bold{
    font-weight: bold;
}
.c-li-hover:hover{
    cursor: pointer;
    /*text-decoration: underline;*/
}
.green-span{
    padding: 5px 10px ;
    background:rgba(81,214,121,0.4);
    border-radius: 5px;
}

/*课程列表*/
.context {
      margin-top: 10px;
}
.l-nav{
    height: 20px;
    font-size: 12px;
    margin-bottom:20px;
}
.l-nav a{
    width:60px;
    padding:1px 5px;
    height:30px;
    line-height: 30px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.l-nav-ban{
    background:rgba(81,214,121,0.4);
    border-radius: 5px;
}

.l-sec {
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 12px;
    margin-bottom: 5px;
}
.l-sec img{
    width:100%;
    border-radius: 5px;
}
.l-sec a{
    color: #0f0f0f;
    height:24px;
    line-height: 24px;
    font-size: 14px;
}
.l-difficulty span{
    font-size: 12px;
    line-height: 12px;
    bottom: 5px;
    color: rgb(85,85,85);
}
.l-difficulty span:nth-child(1){
    margin-right: 10px;
}
.l-text{
    color: rgba(206,226,247,1);
}
