{% extends 'usercenter/base.html' %}
{% load staticfiles %}

{% block course_active %}
    class="active"
{% endblock %}


{% block main %}
    <div id="course">
        <h3>已学课程</h3>
        <hr/>
        {% if not my_courses %}
            <p>还没有学过的课程哦，赶快<u><a href="/course">开始学习</a></u>吧。</p>
        {% endif %}
        {% for my_course in my_courses %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ my_course.last_time.year }}年
                    <small>{{ my_course.last_time.month }}月{{ my_course.last_time.day }}日</small>
                </h4>
            </div>
            <div class="panel-body">
                <h4><b>{{ my_course.course.name }}</b></h4>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <a href="#">
                            <img src="{{ MEDIA_URL }}{{ my_course.course.cover }}" alt="python">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h5>学习进度：99%
                        </h5>
                        <h5>已学{{ my_course.study_time }}</h5>
                        <h5>章节进度：</h5>
                        <h5>1-2 变量的命名规则</h5>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div>
                            <a href="#">错题：123</a>
                        </div>
                        <div>
                            <a href="#">点评：123</a>
                        </div>
                        <div>
                            <a href="#">问答：123</a>
                        </div>
                        <div>
                            <a href="#">笔记：123</a>
                        </div>
                        <button class="btn btn-default" type="button">
                            继续学习
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
{% block small_js %}
{% endblock %}
