{% extends 'usercenter/base.html' %}
{% load staticfiles %}

{% block error_active %}
    class="active"
{% endblock %}


{% block main %}
    <div id="error">
        <h3>错题集</h3>
        <hr/>
        <div class="error-warp">
            <div class="row error-wasp">
                {% for key,value in error_dict.items %}
                    <div href="#" class="col-md-3 error-inner">
                        <a class=" error-img"  style="background: #0D0E10">
                            <div class="error-hid">
                                <p>{{ key }}</p>
                                <p>错题：<span>{{ value }}</span></p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block small_js %}
{% endblock %}
