{% extends 'usercenter/base.html' %}
{% load staticfiles %}

{% block QA_active %}
    class="active"
{% endblock %}


{% block main %}
    <div id="QA">
                    <h3>Q & A</h3>
                    <hr/>
                    <ul class="nav nav-pills">
                        <li role="presentation" id="my-answer" class="active"><a href="#">我的回复</a></li>
                        <li role="presentation" id="my-question"><a href="#">我的提问</a></li>
                    </ul>
                    <div class="panel panel-default " id="QA-answer">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">回复：盖上被子，闭上眼睛，关掉灯.......</h4>
                                                <blockquote>
                                                    我是前端小白，怎么三天月薪过万？
                                                </blockquote>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="pull-right">
                                                    <small>
                                                        <span>回复：123</span>
                                                        <span>|</span>
                                                        <span>浏览：123123123</span>
                                                    </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">回复：盖上被子，闭上眼睛，关掉灯.......</h4>
                                                <blockquote>
                                                    我是前端小白，怎么三天月薪过万？
                                                </blockquote>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="pull-right">
                                                    <small>
                                                        <span>回复：123</span>
                                                        <span>|</span>
                                                        <span>浏览：123123123</span>
                                                    </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">回复：盖上被子，闭上眼睛，关掉灯.......</h4>
                                                <blockquote>
                                                    我是前端小白，怎么三天月薪过万？
                                                </blockquote>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="pull-right">
                                                    <small>
                                                        <span>回复：123</span>
                                                        <span>|</span>
                                                        <span>浏览：123123123</span>
                                                    </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">回复：盖上被子，闭上眼睛，关掉灯.......</h4>
                                                <blockquote>
                                                    我是前端小白，怎么三天月薪过万？
                                                </blockquote>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="pull-right">
                                                    <small>
                                                        <span>回复：123</span>
                                                        <span>|</span>
                                                        <span>浏览：123123123</span>
                                                    </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default" id="QA-question">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="panel-body">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">我是前端小白，怎么三天月薪过万？<span
                                                        class="label label-success">已解决</span>
                                                </h4>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class="pull-left">
                                                    <span>发布日期：2019年5月18日</span>
                                                </li>
                                                <li class="pull-right">
                                                    <small>
                                                        <span>回复：123</span>
                                                        <span>|</span>
                                                        <span>浏览：123123123</span>
                                                    </small>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block small_js %}
{% endblock %}
