{% extends 'usercenter/base.html' %}
{% load staticfiles %}

{% block setting_active %}
    class="active"
{% endblock %}


{% block main %}
    <div id="setting">
        <h3>个人设置</h3>
        <hr/>
        {% if msg %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" action="../setting/" method="post">
                    <div class="form-group {% if user_setting_form.errors.nick_name %}has-error{% endif %}">
                        <label for="nick_name">昵称</label>
                        <input type="text" value="{{ user.nick_name }}" class="form-control" id="nick_name"
                               placeholder="请输入昵称" name="nick_name">
                    </div>
                    <div class="form-group  {% if user_setting_form.errors.nick_name %}has-error{% endif %}">
                        <label for="sex">性别</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="male"
                                       {% if user.sex == 'male' %}checked="checked"{% endif %}>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="female"
                                       {% if user.sex == 'female' %}checked="checked"{% endif %}>女
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="secret"
                                       {% if user.sex == 'secret' %}checked="checked"{% endif %}>保密
                            </label>
                        </div>
                    </div>
                    <div class="form-group  {% if user_setting_form.errors.nick_name %}has-error{% endif %}">
                        <label for="birthday">生日</label>
                        <input type="date" value="{{ birthday }}" class="form-control" id="birthday" name="birthday">
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <div class="input-group" id="email">
                            <input type="text" value="{{ email_name }}" class="form-control" placeholder="邮箱名"
                                   name="email_name">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" value="{{ domain_name }}" class="form-control" placeholder="域名"
                                   name="domain_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone_num">QQ</label>
                        <input type="text" value="{{ user.qq }}" class="form-control" id="qq_num" placeholder="请输入QQ号"
                               name="qq_num">
                    </div>
                    <div class="form-group">
                        <label for="description">签名</label>
                        <textarea class="form-control" rows="3" id="description" placeholder="请输入签名"
                                  name="description">{{ user.description }}</textarea>
                    </div>
                    {#                                <div class="form-group">#}
                    {#                                    <label for="direction">学习方向</label>#}
                    {#                                    <div>#}
                    {#                                        <label class="checkbox-inline">#}
                    {#                                            <input type="checkbox" id="direction" name="direction" value="python">python#}
                    {#                                        </label>#}
                    {#                                        <label class="checkbox-inline">#}
                    {#                                            <input type="checkbox" id="direction" name="direction" value="java">java#}
                    {#                                        </label>#}
                    {#                                        <label class="checkbox-inline">#}
                    {#                                            <input type="checkbox" id="direction" name="direction" value="c++">c++#}
                    {#                                        </label>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    <button type="submit" class="btn btn-default">确认更改</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block set-avatar %}
    <li>
        <div id="set-avatar-button">
            <span class="glyphicon glyphicon-new-window"></span>
            <input class="btn btn-default" type="button" value="修改头像">
        </div>
    </li>
{% endblock %}


{% block set_avatar %}
    <!-- 修改头像窗口 -->
    <div id="set-avatar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">修改头像</h4>
            </div>
            <div class="panel-body">
                <h4><strong>{{ user.username }}</strong></h4>
                <img src="" id="new_avatar" alt="上传图片预览区">
                <div class="text-center">
                    <form action="../change_avatar/" method="post" enctype="multipart/form-data">
                        <input name="avatar" id="new_avatar_file" type="file">
                        <input class="btn btn-primary" type="submit" value="确定">
                        <input class="btn btn-default" type="button" id="set-avatar-close" value="取消">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block small_js %}
    <script>
        $("#set-avatar-button").click(function () {
            $("#set-avatar").show()
            $(".mask").show()
        })

        $("#set-avatar-close").click(function () {
            $("#set-avatar").hide()
            $(".mask").hide()
        })

        $("#new_avatar_file").change(function () {
            var objUrl = getObjectURL(this.files[0]);//获取文件信息
            console.log("objUrl = " + objUrl);
            if (objUrl) {
                $("#new_avatar").attr("src", objUrl);
            }
        });

        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) {
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
{% endblock %}
