{% extends 'usercenter/base.html' %}
{% load staticfiles %}

{% block suggestion_active %}
    class="active"
{% endblock %}


{% block main %}
    <div id="suggestion">
                    <h3>点评集</h3>
                    <hr/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">2019年
                                <small>5月17日</small>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <h4><b>Python爬取职位信息</b></h4>
                            <hr/>

                        </div>
                    </div>
                </div>
{% endblock %}
{% block small_js %}
{% endblock %}
