/*课程  -  章节 -- 详情页*/
.det-video{
    height: 760px;
    background: #141414;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px 0;
}

#video{
    width:90%;
    height:730px;
}
.det-list-waper{
    /*background: #5cb85c;*/
}
.det-inner-list {
    width: 100%;
    min-height: 84px;
    line-height: 30px;
    padding: 30px 30px 20px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #DFE1E3;
    margin-bottom: 20px;
    transition: .35s;
}
/*.det-inner-list:hover{*/
    /*margin-left: -10%;*/
    /*width:110%;*/

/*}*/
.det-name{
    position: relative;
}
.add-list{
    position: absolute;
    top: 0;
    right: 0;
}
.cha-entry {
    border-radius: 0;
    display: none;
    transition: .35s;
}
.cha-entry li {
    border: 0;
    font-size: 14px;
}
.cha-entry li:hover {
    background: rgba(89, 249, 40, 0.2);
    cursor: pointer;
}


/*学习资料*/
.det-subject{
    width: 100%;
    box-shadow: -5px 5px 5px #DFE1E3;
    margin:20px 0 20px 0;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 20px;
    color: #0f0f0f;
    text-decoration: none;
    perspective: 600px;

}
.det-subject:hover{
    text-decoration: none;
    color: #0f0f0f;
}
.det-subject-img{
    font-size: 40px;
    width: 40px;
    color: #337AB7;
    transition: .35s;
    display: block;
}
.det-subject:hover .det-subject-img{
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}