*{
	border: 0;
	padding: 0;
}
body {
   font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:visited
{ 
	border: none;
}
ul > li{
	list-style: none;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/iconfont.woff2') format('woff2'),
      url('../fonts/iconfont.woff') format('woff'),
      url('../fonts/iconfont.ttf') format('truetype'),
      url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav_height{
	height: 70px;
	z-index: 999;
	background-color: #f8f8f8;
}
.nav_panel > .nav_head{
	margin-left: 40px;
	margin-right: 15px;
}
.nav_panel{
	height: 100%;
}
.nav_head a{
	height: 70px;
	width: 300px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100% 100%;
}
.nav_body > ul > li{
	height: 70px;
	line-height: 70px;
	background-color: #F8F8F8;
}
.nav_body > ul > li > a{
	font-size: 16px;
	height: 70px;
	line-height: 70px;
	padding-top: 0px;
	margin-right: 0;
}
@media (min-width: 768px){
	.nav-magrig {
    	margin-right: 40px;
	}
}
@media (max-width: 768px){
	.nav-magrig {
    	margin-top: 0;
	}
	.navbar-left{
		margin: 0 !important;;
	}
}
.form-search{
	height: 70px;
	margin: 0 20px 0 0;
	padding-top: 18px;
}
.form-search .search-border{
	border: 1px solid #C0BEBE;
	padding-right: 12px;
	margin: 0 auto;
	border-radius: 120px;
}
.from-defined{
	width: 80%;
	background-color:transparent;
	border: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.from-defined:focus{
	background-color:transparent;
	outline: medium;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
@media (min-width: 768px){
.modal-dialog {
    margin: 13% auto;
	}
}
.input-wei{
	width: 75%;
	padding-left: 0;
}



footer{
	width: 100%;
	background-color: #DFE1E3;
	margin-top: 80px;
}
footer .footer_body{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}