{% extends "base.html" %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/project_list.css" %} ">
{% endblock %}
{% block custom_js %}{% endblock %}
{% block html_body %}
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                      <ul class="list-group c-ul">
                <li class="list-group-item c-li c-li-border">
                    <div class="row">
                        <span class="c-li-bold">方向：</span>
                        <span class="c-li-hover">全部</span>
                        <span class="c-li-hover green-span c-li-hover">前端开发</span>
                        <span class="c-li-hover">后端开发</span>
                        <span class="c-li-hover">移动开发</span>
                        <span class="c-li-hover">算法&数学</span>
                        <span class="c-li-hover">前沿技术</span>
                        <span class="c-li-hover">云计算&大数据</span>
                        <span class="c-li-hover">运维&测试</span>
                        <span class="c-li-hover">数据库</span>
                        <span class="c-li-hover">UI设计&多媒体</span>
                        <span class="c-li-hover">游戏</span>
                    </div>
                </li>

                <li class="list-group-item c-li c-li-border">
                    <div class="row">
                        <span class="c-li-bold">分类：</span>
                        <span class="c-li-hover">全部</span>
                        <span class="c-li-hover">HTML/CSS</span>
                        <span class="c-li-hover">JavaScript</span>
                        <span class="c-li-hover">Vue.js</span>
                        <span class="c-li-hover  green-span c-li-hover">React.JS</span>
                        <span class="c-li-hover">Angular</span>
                        <span class="c-li-hover">Node.js</span>
                        <span class="c-li-hover">jQuery</span>
                        <span class="c-li-hover">Bootstrap</span>
                        <span class="c-li-hover">Sass/Less</span>
                        <span class="c-li-hover">WebApp</span>
                        <span class="c-li-hover">小程序</span>
                        <span class="c-li-hover">前端工具</span>
                        <span class="c-li-hover">CSS</span>
                        <span class="c-li-hover">Html5</span>
                        <span class="c-li-hover">CSS3</span>
                    </div>
                </li>
                <li class="list-group-item c-li">
                    <div class="row">
                        <span class="c-li-bold">难度：</span>
                        <span class="c-li-hover">全部</span>
                        <span class="c-li-hover green-span c-li-hover">入门</span>
                        <span class="c-li-hover">初级</span>
                        <span class="c-li-hover">中级</span>
                        <span class="c-li-hover">高级</span>
                    </div>
                </li>
            </ul>
            </div>

        </div>
        <!-- 项目展示 -->
        <div class="row">
            {% for item in items %}

                <div class="col-md-6">
                    <p>
                    <h4><strong>{{ item.proj_name }}</strong>
                        <mark>{{ item.proj_tag }}</mark>
                    </h4>
                    <br>
                    <img src="{% static  "images/logo.png" %} " class="col-md-2">
                    <div class="col-md-7">
                        <blockquote>
                            <p>{{ item.proj_desc }}</p>
                        </blockquote>
                        <div class="col-md-offset-2">
                            <span>指导老师：<a href="">{{ item.proj_teacher }}</a></span>&nbsp;&nbsp;&nbsp;
                            <span>学习人数：<a href="">{{ item.proj_student }}</a></span><br><br><br>
                            <span>时长：{{ item.proj_howlong }}天</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>难度：{{ item.proj_level }}</span>
                        </div>
                    </div>
                    </p>
                    <a href="{% url 'project_detail' item.id %}" target="_blank"></a>
                </div>


            {% endfor %}
        </div>
        {#导航栏#}
        <div class="row text-center">
            <nav aria-label="Page navigation ">
                <ul class="pagination">
                    <li>
                        {% if page != 1 %}
                        <a href="?page={{ page |add:-1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% endif %}
                        {% if page == 1 %}
                             <a href="?page={{ page }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% endif %}
                    </li>
                    <li><a href="?page=1">1</a></li>
                    <li><a href="?page=2">2</a></li>
                    <li><a href="?page=3">3</a></li>
                    <li><a href="?page=4">4</a></li>
                    <li><a href="?page=5">5</a></li>
                    <li>
                        <a href="?page={{ page | add:1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
<script>
    {#$(function () {#}
    {#    var list = $(".pagination > li");#}
    {#    var len = list.length;#}
    {#    list.on("click", function () {#}
    {#        this.addClass("active");#}
    {#        console.log(123)#}
    {#        var index = list.index(this);#}
    {#        var len = list.length;#}
    {#        if (index === 0){#}
    {#            list.eq(index).href("?page="+index).toggle();#}
    {#        }#}
    {#        else if(index===len-1)#}
    {#        {#}
    {#            var next = list.eq(index+1);#}
    {#            list.eq(len-1).href(next).toggle();#}
    {#        }#}
    {#    })#}
    {#})#}
</script>
{% endblock %}
